/*.vinghjul {
    width: 50mm;
}
*/
.calendar {
    position: relative;
    top: 20px;
}
.timetable {
    position: relative;
    top: 20px;
}

.cal, .legend {
    position: absolute;
    bottom: 0;
}
.prices ul {
    margin: unset;
}
table.cal {
    border: 1px solid;
    width: 95%;
    font-size: small;
    _word-wrap: break-word;
    _table-layout: fixed;
}

.cal th {
}

.cal .weekday {
    width: 6em;
}

.cal tr {
    text-align: center;
    vertical-align: middle;
    width: 1em;
}

.cal td {
    padding: 1px 0;
}

.steam {
    background-color: #e1f0d4;
}

.railbus {
    background-color: #fff9ab;
}

.special {
    background-color: #ffdcb5;
}

.calMonths {
    text-align: center;
}

.legend td.date {
    text-align: center;
    padding: 1px 4px;
}

.legend td.text {
    padding-left: 8px;
}

table.tdb {
    margin-top: 2em;
    border: 1px solid;
    width: 95%;
    font-size: small;
}
tr.trainName {
    height: 7.7em;
}
td.km {
 _width:  2.8em;
    text-align: right;
    padding-right: 0.8em;
}
td.train {
    max-width: 3.5em;
}

.rotate {
    transform: rotate(-90deg);
}
.pre {
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18px;
}
.center {
    text-align: center;
}
#version {
    margin-top: 1em;
}
.icon {
    max-width:50px;
    max-height:18px;
}
#watermark{
    position:absolute;
    z-index:0;
    background:white;
    display:block;
    height:50%;
    width:50%;
    color:yellow;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
#logo1, #logo2 {
    display: inline-block;
}
#logo1 img {}
#logo2 {
    position: relative;
    top: -23px;
}
#logo2 img {
    position: relative;
    top: 35px;
    right: 40px;
}
#wm-text
{
    color:lightgrey;
    font-size:120px;
    transform:rotate(410deg);
    -webkit-transform:rotate(410deg);
}
@media print {
    @page {
        /* size: 350mm 427mm; */
        margin-left: 20mm;
        /* margin: 14mm; */
    }

    .container {
        width: 1300px;
       /* width: 1235px; */
    }
}
